
/* Main Header */
.main-header{
    height: 555px;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 6px solid $dark-color;
    background-image: linear-gradient(45deg, $offwhite-color, rgb(28 31 51 / 65%)),
        url("../../../images/bg-header.jpg");
    /* Header Box */
    .header-box{
        width: 100%;
        /* Header Info */
        .header-info{
            margin-top: 11%;
            width: 50%;
            padding: 10px 25px;
            h1{
                margin-bottom: .7rem;
                font-weight: bold;
                font-size: 2.7rem;
                color: $maroon-color;
                text-transform: uppercase;
            }
            p{
                margin-bottom: 0;
                font-weight: 600;
                font-size: 18px;
                color: $dark-color;
            }
        }
        /* End of Header Info */
    }
    /* End of Header Box */
}
/* End of Main Header */


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    /* Main Header */
    .main-header{
        height: 350px;
        /* Header Box */
        .header-box{
            /* Header Info */
            .header-info{
                margin-top: 4%;
                width: 87%;
                padding: 10px 25px;
                h1{
                    margin-bottom: .7rem;
                    font-weight: bold;
                    font-size: 2.7rem;
                    color: $maroon-color;
                    text-transform: uppercase;
                }
                p{
                    margin-bottom: 0;
                    font-weight: 600;
                    font-size: 18px;
                    color: $dark-color;
                }
            }
            /* End of Header Info */
        }
        /* End of Header Box */
    }
    /* End of Main Header */
}