/* */
.tickets-section{
    .filter-box{
        .filter-box-header{
            text-align: center;
            color: #eee6ce;
            background-color: #98354e;
            h4{
                margin-bottom: 0;
            }
        }
        .filter-box-body{
            padding: 1rem;
            background-color: #eee6ce;
        }
    }

    .tickets-content {
        .ticket{
            flex-direction: row;
            margin-bottom: 1.5rem;
            &:last-of-type{
                margin-bottom: 0;
            }
            .card-header{
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: transparent;
                border-right: 1px solid rgba(0, 0, 0, 0.125);
                padding: 0.75rem 1rem;
                width: 120px;
                .icon {
                    background-color: #98354e;
                    width: 40px;
                    height: 40px;
                    color: #eee6ce;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    i{
                        font-size: 20px;
                    }
                }
                p{
                    color: #98354e;
                    font-weight: bold;
                    padding-top: 5px;
                    text-transform: capitalize;
                }
            }
            .card-body{
                background-color: transparent;
                padding: 0.75rem 1rem;
                .ticket-details{
                    display: flex;
                    justify-content: space-between;
                    .ticket-price{
                        padding-top: 10px;
                    }
                    .icon{
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .card-footer{
                border: none;
                display: flex;
                padding: 0.75rem 1rem;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border-left: 1px solid rgba(0, 0, 0, 0.125);
            }
        }
    }

    .loading{
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .loading .loader{
        width: 100px;
        height: 100px;
        border: 5px solid #eee6ce;
        border-top-color: #832c42;
        border-radius: 50%;
        animation: spinner 2s linear infinite;
    }

    @-webkit-keyframes spinner{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    @-moz-keyframes spinner{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    @-o-keyframes spinner{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    @keyframes spinner{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }

}






    //     .filter-box .filter-box-header{
    //         text-align: center;
    //         color: #eee6ce;
    //         background-color: #98354e;
    //     }
    //     .filter-box .filter-box-body{}

    //     .tickets-content .ticket{
    //         flex-direction: row;
    //         margin-bottom: 1.5rem;
    //     }
    //     .tickets-content .ticket:last-of-type{
    //         margin-bottom: 0;
    //     }

    //     .tickets-content .ticket .card-header{
    //         border: none;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         flex-direction: column;
    //         background-color: transparent;
    //         border-right: 1px solid rgba(0, 0, 0, 0.125);
    //         padding: 0.75rem 1rem;
    //         width: 120px;
    //     }

    //     .tickets-content .ticket .card-header .icon {
    //         background-color: #98354e;
    //         width: 40px;
    //         height: 40px;
    //         color: #eee6ce;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         border-radius: 50%;
    //     }

    //     .tickets-content .ticket .card-header .icon i{
    //         font-size: 20px;
    //     }

    //     .tickets-content .ticket .card-header p{
    //         color: #98354e;
    //         font-weight: bold;
    //         padding-top: 5px;
    //         text-transform: capitalize;
    //     }

    //     .tickets-content .ticket .card-body{
    //         background-color: transparent;
    //         padding: 0.75rem 1rem;
    //     }

    //     .tickets-content .ticket .card-body .ticket-details{
    //         display: flex;
    //         justify-content: space-between;
    //     }

    //     .tickets-content .ticket .ticket-price{
    //         padding-top: 10px;
    //     }
    //     .tickets-content .ticket .card-body .ticket-details .icon{
    //         display: flex;
    //         align-items: center;
    //     }

    //     .tickets-content .ticket .card-footer{
    //         border: none;
    //         display: flex;
    //         padding: 0.75rem 1rem;
    //         justify-content: center;
    //         align-items: center;
    //         background-color: transparent;
    //         border-left: 1px solid rgba(0, 0, 0, 0.125);
    //     }

    //     .loading{
    //     display: none;
    //     align-items: center;
    //     justify-content: center;
    //     flex-direction: column;
    // }
    // .loading .loader{
    //     width: 100px;
    //     height: 100px;
    //     border: 5px solid #eee6ce;
    //     border-top-color: #832c42;
    //     border-radius: 50%;
    //     animation: spinner 2s linear infinite;
    // }

    // @-webkit-keyframes spinner{
    //     0%{
    //         transform: rotate(0deg);
    //     }
    //     100%{
    //         transform: rotate(360deg);
    //     }
    // }
    // @-moz-keyframes spinner{
    //     0%{
    //         transform: rotate(0deg);
    //     }
    //     100%{
    //         transform: rotate(360deg);
    //     }
    // }
    // @-o-keyframes spinner{
    //     0%{
    //         transform: rotate(0deg);
    //     }
    //     100%{
    //         transform: rotate(360deg);
    //     }
    // }
    // @keyframes spinner{
    //     0%{
    //         transform: rotate(0deg);
    //     }
    //     100%{
    //         transform: rotate(360deg);
    //     }
    // }
