/* Colors */
:root{
    --main-color: #313552;
    --red-color: #B8405E;
    --green-color: #2EB086;
    --offwhite-color: #EEE6CE;
    --main2-color: #0c2545;
}

/* Sidebar */


.main-sidebar .nav-logout{
    position: absolute;
    bottom: 20px;
}
/* End of sidebar */

/* Navbar */
/* End of navbar */

/* Header */
/* End of header */

/* Footer */
.main-footer{

}
/* End of Footer */

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/*/*//*/ Components /*//*/*/

/* Breadcrumb */
.content-header .page-name{
    font-size: 1.6rem;
    font-weight: 600;
}
.content-header .breadcrumb .breadcrumb-item:last-of-type{
    color: #535353;
    font-weight: 400;
}
.content-header .breadcrumb .breadcrumb-item a{
    font-weight: 500;
}
/* End of Breadcrumb */

/* Tables */
.page-item.active .page-link {
    color: #eee;
}

/* End of Tables */

/* Buttons */

.card .btn-secondary{
    background-color: rgb(49 53 82 / 70%);
}
section table .btn{
    color: #000;
}
.btn-delete,
.btn-delete:focus{
    color: #fff !important;
    margin-left: 5px;
}

.btn-edit{
    margin-right: 5px;
}
.btn-edit:hover{
    color: #000;
}
/* End of Buttons */

/* Card */

.card .card-header h3{
    font-size: 1.15rem;
    color: #eee;
}
/* End of Card */

/* Forms */
.card form input{
    font-size: 0.9rem;
}
.card form textarea{
    max-height: 120px;
}
.card form nav-pills {
    margin: 0;
}
.card form .nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: rgb(49 53 82 / 60%);
}
.card form .nav-pills .nav-link,
.card form .nav-pills .nav-link:hover {
    color: #eee;
}
.card form .nav-pills li a{
    font-size: 16px;
    padding: 5px 7px;
    font-weight: 600;
    letter-spacing: .03rem;
}
.card form .tab-content .tab-pane label{
    margin: 0;
}
.card form .tab-content .tab-pane:not(first-of-type) label{
    margin: 0 5px;
}
.card form .tab-content .tab-pane label input{
    margin-right: 5px;
}
/* End of Forms */



/*/*//*/ End of components /*//*/*/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/

/* Grouping */
.main-sidebar,
.page-item.active .page-link,
.btn-crayons,
.btn-crayons:focus,
.btn-crayons:hover,
.card form .nav-pills .nav-link,
.card form .nav-pills .nav-link:hover{
    background-color: var(--main-color);
}
.card form label{
    color: var(--main-color);
}
.page-item.active .page-link,
.btn-crayons,
.btn-crayons:focus,
.btn-crayons:hover,
.card .btn-secondary,
.card form input:focus {
    border-color: var(--main-color);
}

.content-header .page-name,
.content-header .breadcrumb .breadcrumb-item a{
    color: var(--red-color);
}

.btn-delete,
.btn-delete:focus,
.btn-delete:hover,
.card .card-header{
    background-color: var(--red-color);
}
.btn-delete,
.btn-delete:focus,
.btn-delete:hover{
    border-color: var(--red-color);
}

.btn-edit,
.btn-edit:hover,
.btn-edit:focus{
    background-color: var(--green-color);
}
.btn-edit,
.btn-edit:hover,
.btn-edit:focus{
    border-color: var(--green-color);
}

.content-header .page-name,
.btn-crayons,
.btn-crayons:focus,
.card .card-header h3,
.card form input{
    text-transform: capitalize;
}



/* End of Grouping */

