/* Colors */
:root{
    --main-color: #313552;
    --red-color: #B8405E;
    --green-color: #2EB086;
    --yellow-color: #FFC900;
    --offwhite-color: #EEE6CE;
    --main2-color: #0c2545;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*-*-*-*-* Sidebar *-*-*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/

.main-sidebar .user-panel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.main-sidebar .user-panel .image {
    padding: 0;
}
.main-sidebar .user-panel .image img {
    width: 3rem;
}
.main-sidebar .user-panel .info a{
    font-size: 23px;
    line-height: 1.2;
    color: var(--offwhite-color);
}
.main-sidebar .user-panel .info span{
    font-size: 15px;
    color: #c8c8c6;
    line-height: 1;
    letter-spacing: .04rem;
}
.main-sidebar .nav-sidebar>.nav-item .nav-icon {
    margin-left: 0.05rem;
    font-size: 1.28rem;
    margin-right: 0.2rem;
    text-align: center;
    width: 1.7rem;
    color: var(--offwhite-color);
}
.mini-sidebar .user-panel .info{
    display: none;
    transition: .35s;
    -webkit-transition: .35s;
    -moz-transition: .35s;
    -ms-transition: .35s;
    -o-transition: .35s;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*-*-* End of sidebar -*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*-*-*-*-*- Navbar *-*-*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/

.navbar{
    background-color: var(--main-color);
}

.navbar .nav-item .nav-link{
    color: var(--offwhite-color);
}

.navbar .navbar-nav .dropdown-menu {
    padding: 0;
}
/* .navbar .navbar-nav .dropdown.add-new {

} */
.navbar .navbar-nav .dropdown.user-dropdown .nav-link{
    padding-top: 0.35rem;
}

.navbar .navbar-nav .dropdown .dropdown-toggle::after{
    display: none;
}
.navbar .navbar-nav .dropdown .dropdown-item{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}
.navbar .navbar-nav .dropdown .dropdown-item:hover{
    background-color: var(--red-color);
    color: var(--offwhite-color);
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*-*-*- End of Navbar *-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/




/* Header */
/* End of header */

/* Footer */
.main-footer p{
    font-weight: 600;
    color: var(--main-color);
}
.main-footer p a{
    color: var(--red-color);
}
/* End of Footer */

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/*/*//*/ Components /*//*/*/

/* Tables */
.page-item.active .page-link {
    color: #eee;
}

/* End of Tables */


/* Forms */
.card form input{
    font-size: 0.9rem;
}
.card form textarea{
    max-height: 120px;
}
.card form nav-pills {
    margin: 0;
}
.card form .nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: rgb(49 53 82 / 60%);
}
.card form .nav-pills .nav-link,
.card form .nav-pills .nav-link:hover {
    color: #eee;
}
.card form .nav-pills li a{
    font-size: 16px;
    padding: 5px 7px;
    font-weight: 600;
    letter-spacing: .03rem;
}
.card form .tab-content .tab-pane label{
    margin: 0;
}
.card form .tab-content .tab-pane:not(first-of-type) label{
    margin: 0 5px;
}
.card form .tab-content .tab-pane label input{
    margin-right: 5px;
}
/* End of Forms */

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*- Content Header *-*-*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/

.content-header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-header .content-header-info{
    text-align: center;
}
.content-header .page-name h1{
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase !important;
}
.content-header .breadcrumb{
    justify-content: center;
}
.content-header .breadcrumb .breadcrumb-item:last-of-type{
    color: #535353;
    font-weight: 400;
}
.content-header .breadcrumb .breadcrumb-item a{
    font-weight: 500;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*- End of Content Header *-*-*-*-*-*-*- */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/




/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*-*-* Sections -*-*-*-*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/

.user-section .user-card .card-header {
    width: 100%;
    height: 200px;

}
.user-section .user-card .card-header img{
    width: 100%;
    height: 100%;
}
.user-section .user-card .card-body{
    padding: 0.7rem;
}
.user-section .user-card .card-body h4{
    margin: 0;
    font-weight: 600;
    font-size: 1.15rem;
    color: #313552;
}
.user-section .user-card .card-body p{
    font-size: .9rem;
}
.user-section .user-card .card-footer{
    padding-top: 0;
}
.user-section .user-card .card-header,
.user-section .user-card .card-footer{
    background-color: transparent;
}




.section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.section .card{
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Section form */
.section .section-form .card .card-header{
    border-top-right-radius: 0;
}
.section .section-form .card .card-header h3{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--red-color);
}
.section .section-form .card .card-footer{
    border-bottom-right-radius: 0;
    background-color: transparent;
}

/* End of section form */

/* Section info */
.section .section-info{
    height: 100%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.section .station-info.section-info{
    background-image: url("../../images/stations.svg");
}
.section .section-info .card{
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    border-left: 5px solid var(--main-color);
}
/* End of Section info */


/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*- End of  Sections *-*-*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/


/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*-*-* Buttons -*-*-*-*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
.btn-create{
    padding: 0.2rem 0.5rem;
    font-size: .75rem;
    font-weight: bold;
}

.card .btn-secondary{
    background-color: rgb(49 53 82 / 70%);
}
section table .btn{
    color: #000;
}
.btn-delete,
.btn-delete:focus{
    color: #fff !important;
    margin-left: 5px;
}

.btn-edit{
    margin-right: 5px;
}
.btn-edit:hover{
    color: #000;
}

.btn-add-new{
    height: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*-* End of Buttons -*-*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/


/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-*-*-* Grouping -*-*-*-*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/

.main-sidebar,
.page-item.active .page-link,
.btn-crayons,
.btn-crayons:focus,
.btn-crayons:hover,
.card form .nav-pills .nav-link,
.card form .nav-pills .nav-link:hover{
    background-color: var(--main-color);
}
.card form label{
    color: var(--main-color);
}
.page-item.active .page-link,
.btn-crayons,
.btn-crayons:focus,
.btn-crayons:hover,
.card .btn-secondary,
.card form input:focus {
    border-color: var(--main-color);
}

.content-header .page-name h1,
.content-header .breadcrumb .breadcrumb-item a{
    color: var(--red-color);
}

.btn-delete,
.btn-delete:focus,
.btn-delete:hover,
.btn-add,
.btn-add:focus,
.btn-add:hover,
.btn-add-new,
.btn-add-new:focus,
.btn-add-new:hover,
.section .section-info{
    background-color: var(--red-color);
}
.btn-delete,
.btn-delete:focus,
.btn-delete:hover,
.btn-add,
.btn-add:focus,
.btn-add:hover,
.btn-add-new,
.btn-add-new:focus,
.btn-add-new:hover{
    border-color: var(--red-color);
}

.btn-edit,
.btn-edit:hover,
.btn-edit:focus{
    background-color: var(--yellow-color);
}
.btn-edit,
.btn-edit:hover,
.btn-edit:focus{
    border-color: var(--yellow-color);
}

.btn-crayons,
.btn-crayons:focus,
.card .card-header h3,
.card form input{
    text-transform: capitalize;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* *-*-*-*-*-*-* End of Grouping *-*-*-*-*-*-*-*-*-*-* */
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
