/* Colors */
:root{
    --main-color: #313552;
    --red-color: #B8405E;
    --green-color: #2EB086;
    --offwhite-color: #EEE6CE;
    --main2-color: #0c2545;
}

/* Sidebar */
.main-sidebar{
    background-color: var(--main-color);
}

.main-sidebar .nav-logout{
    position: absolute;
    bottom: 20px;
}
/* End of sidebar */

/* Navbar */
/* End of navbar */

/* Header */
/* End of header */




/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/
/*/*//*/ Components /*//*/*/

/* Tables */

.page-item.active .page-link {
    color: #eee;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End of Tables */

/* Buttons */
.btn-crayons{
    text-transform: capitalize;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.btn-crayons:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.card .btn-secondary{
    background-color: rgb(49 53 82 / 70%);
    border-color: var(--main-color);
}

section table .btn{
    color: #000;
}

.btn-delete{
    background-color: var(--red-color);
    border-color: var(--red-color);
    color: #fff !important;
    margin-left: 5px;
}
.btn-delete:hover{
    background-color: var(--red-color);
    border-color: var(--red-color);
}
.btn-edit{
    background-color: var(--green-color);
    border-color: var(--green-color);
    margin-right: 5px;
}
.btn-edit:hover{
    background-color: var(--green-color);
    border-color: var(--green-color);
    color: #000;
}
/* End of Buttons */

/* Card */
.card .card-header{
    background-color: var(--red-color);
}
.card .card-header h3{
    font-size: 1.15rem;
    color: #eee;
    text-transform: capitalize;
}
/* End of Card */

/* Forms */

.card form label{
    color: var(--main-color);
}
.card form input{
    text-transform: capitalize;
    font-size: 0.9rem;
}
.card form nav-pills {
    margin: 0;
}
.card form .nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: rgb(49 53 82 / 60%);
}
.card form .nav-pills .nav-link,
.card form .nav-pills .nav-link:hover {
    background-color: var(--main-color);
    color: #eee;
}
.card form .nav-pills .nav-link:hover {
    background-color: var(--main-color);
    color: #eee;
}

.card form .nav-pills li a{
    font-size: 16px;
    padding: 5px 7px;
    font-weight: 600;
    letter-spacing: .03rem;
}

.card form .tab-content .tab-pane label{
    margin: 0;
}
.card form .tab-content .tab-pane:not(first-of-type) label{
    margin: 0 5px;
}
.card form .tab-content .tab-pane label input{
    margin-right: 5px;
}
/* End of Forms */



/*/*//*/ End of components /*//*/*/
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **/


