// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// ==> Helpers
// Mixins
@import "./helpers/mixins";

// ==> Components

// Heading
@import "./components/heading";


// ==> Layouts
// Global
@import "./layouts/global";

// Style
@import "./layouts/style";


// ==> Pages
// Contact us
@import "./pages/contact_us";

// Setting page
@import './pages/setting';
