/* Crayons Button */
.crayons-btn{
    letter-spacing: .05rem;
    border-color: $maroon-color;
    background-color: $maroon-color;
    @include prefixer(border-radius, 0, webkit moz ms o);
    &:hover{
        background-color: $maroon-color;
        border-color: $maroon-color;
    }
}

/* End of Crayons Button */
