
/* Main Header */
.main-header{
    height: 600px;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(45deg, rgb(152 53 78), rgb(152 53 78 / 56%)), 
        url("../../images/bg-header.jpg");
    /* Header Box */
    .header-box{
        width: 100%;
        /* Header Info */
        .header-info{
            margin-top: 11%;
            width: 50%;
            padding: 10px 25px;
            h1{
                margin-bottom: .7rem;
                font-weight: bold;
                font-size: 2.7rem;
                color: $offwhite-color;
                text-transform: uppercase;
            }
            p{
                margin-bottom: 0;
                font-weight: 600;
                font-size: 18px;
                color: $dark-color;
            }
        }
        /* End of Header Info */
    }
    /* End of Header Box */
}
/* End of Main Header */

