/* Navbar */
.navbar{
    background-color: $dark-color;
    padding-left: 0;
    padding-right: 0;
    /* Navbar Brand */
    .navbar-brand{
        /* Navbar Content */
        .navbar-nav{
            /* navbar item */
            .nav-item{
                /* Navbar link */
                .nav-link{

                }
                /* End of Navbar link */
            }
        }
        /* End of Navbar Content */
    }
    /* End of Navbar Brand */
}

/* End of Navbar */
