/* Page header */
.page-header{
    padding-bottom: 35px;
    /* Header info */
    .header-info{
        h2{
            color: $offwhite-color;
            font-weight: 700;
            padding-bottom: 5px;
            text-transform: uppercase;
        }
        p{
            color: $offwhite-color;
            font-size: 14px;
            line-height: 1.79;
            letter-spacing: .04rem;
            text-transform: capitalize;
        }
    }
    /* End of header info */
}

/* End of page header */

/* Search Reservation */
.search-reservation{
    padding-top: 0;
    padding-bottom: 70px;
    position: relative;
    /* Reservation Box */
    .reservation-box{
        position: absolute;
        top: -85px;
        width: 96%;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 2;
        padding: 15px 20px;
        background-color: $dark-color;
        /* Reservation Form */
        .reservation-form{
            /* Form */
            form{
                label{
                    font-weight: 600;
                    font-size: 15px;
                    letter-spacing: .04rem;
                    color: $offwhite-color;
                }
                input{
                    border-color: $dark-color;
                    background-color: $offwhite-color;
                    &:focus{
                        background-color: $offwhite-color;
                        @include prefixer(box-shadow, none, webkit moz ms o);
                    }

                }
            }
        }
        /* End of Reservation Form */
    }
    /* End of Reservation Box */
}
/* End of Search Reservation */

/* E-tickets advantages */
.e-ticket-advantages{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 6px solid $dark-color;
    background-image: linear-gradient(45deg, rgb(152 53 78), rgb(152 53 78 / 56%)),
        url("../../images/bg-tickets.jpg");
    .heading{
        color: $offwhite-color;
    }
    /* Advantage card */
    .advantage-card{
            /* border-color: #eee6ce; */
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background: transparent;
        color: $offwhite-color;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 1px 1px $offwhite-color;
        /* Advantage Header */
        .advantage-header{
            padding: 0;
            border: none;
            background-color: transparent;
            /* Advantage icon */
            .advantage-icon{
                i{

                }
            }
        }
        /* End of Advantage Header */
        /* Advantage information */
        .advantage-info{
            padding: 0;
            p{
                margin-bottom: 0;
                line-height: 1.5;
                color: $offwhite-color;
            }
        }
        /* End of Advantage information */
    }
    /* End of Advantage card */

}

/* End of E-tickets advantages */
